{# 
blog layout: stander, grid, mansory
post single: single style1, single style2. #}

{% set imageoneURL = file_url(node.field_image.0.entity.uri.value) %}
{% set imagealt = node.field_image.0.alt %}
{% set post_format = node.field_post_format.0.value %}
{% set length_image = node.field_image|length %}

{% if not page %}
   
   
    {% block nodeheader %}
    	<div class="one-row-list">
			<div class="grid-item">
			   <div class="advs-box niche-box-blog">
			      <div class="block-top">
			         <div class="block-infos">
			            <div class="block-data">
			               <p class="bd-day">{{ node.created.value|date('d') }}</p>
			               <p class="bd-month">{{ node.created.value|date('M Y') }}</p>
			            </div>
			            <div class="block-comment">{{ node.field_blog_comments.comment_count }} <i class="fa fa-comment-o"></i></div>
			         </div>
			         <div class="block-title">
			            <h2><a href="{{url}}">{{node.getTitle}}</a></h2>
			            <div class="tag-row">

			               {% if node.field_blog_tags.0.target_id %}<span><i class="fa fa-bookmark"></i> {{content.field_blog_tags}}</span>{% endif %}
			               <i class="fa fa-pencil"></i>{% if full_name %}{{ full_name }}{% else %}{{ author_name }}{% endif %}
			               <div class="social-group-button">
			                  <div class="social-button" data-anima="pulse-vertical" data-trigger="hover">
			                     <i class="fa fa-share-alt"></i>
			                  </div>
			                  
			                  {{social_network_post|raw}}

			               </div>
			            </div>
			         </div>
			      </div>
			      {% if post_format == 'video' and node.field_video_embed.0.value %}
			      	{{content.field_video_embed}}
			      {% else %}

			      	{% if length_image > 1 %}
			      		
					      <div class="flexslider slider nav-inner white">
	                        <ul class="slides">
	                        	{% set length_image = length_image -1 %}
	                        	 {% for i in 0..length_image %}
			                	 	<li>
			                        {{content.field_image[i]}}
			                        </li>
			                	 {% endfor %}
	                            
	                        </ul>
                        </div>	
			      	{% else %}
						<a class="img-box img-scale-rotate" href="{{url}}">
					      {{content.field_image.0}}
					    </a>	      		
			      	{% endif %}
			      {% endif %}
			     
			      <p class="excerpt">
			         {{ node.body.summary|length > 292 ? node.body.summary|slice(0,292) ~ '...' : node.body.summary }}
			      </p>
			      <a class="anima-button circle-button btn-sm" href="{{url}}"><i class="fa fa-long-arrow-right"></i>{{'Read more ...'|t}} </a>
			   </div>
			</div>			  	
    	</div>
    
    {% endblock %}
        
{% else %}{# single #}
	{% set post_layout = node.field_post_layout.0.value %}
	{% if post_layout == 'style1' %}

		<div class="header-title white overlay" style="background-image:url({{content.field_image.0}});">
		   <div class="container">
		      <div class="title-base">
		         <hr class="anima" />
		         <h1>{{title|t}}</h1>
		         <p><i class="fa fa-calendar-o"></i><span class="space"></span> {{ node.created.value|date('d / F / Y') }}</p>
		      </div>
		   </div>
		</div>
		<div class="section-empty">
		   <div class="container content">
		      <div class="row">
		         <div class="col-md-12">
		            <div class="tag-row text-center">
		               <span><i class="fa fa-bookmark"></i> {{content.field_blog_tags}}</span>
		               <i class="fa fa-pencil"></i>{% if full_name %}{{ full_name }}{% else %}{{ author_name }}{% endif %}
		            </div>
		            <hr class="space s" />
		             {{ content|without('field_image','field_blog_comments','field_blog_category','field_blog_tags') }}
		            <hr class="space s" />
		            <div class="text-center">
		               
		               {{social_network_post|raw}}

		            </div>
		            <hr class="space s" />
		            <hr />
		            <hr class="space s" />
		            <!--COMMENT BOX-->
		         
		            {{ content.field_blog_comments }}
		         </div>
		      </div>
		   </div>
		</div>		
	
	{% else %}

		<div class="section-two-blocks" style="height:750px;">
		   <div class="row">
		      <div class="col-md-6 image-hight-100">
		         <a class="img-box"><img src="{{content.field_image.0}}" alt="{{imagealt}}" /></a>
		      </div>
		      <div class="col-md-6">
		         <div class="content">
		            <div class="title-base text-left">
		               <hr class="anima" />
		               <h1>{{title}}</h1>
		               <p><i class="fa fa-calendar-o"></i><span class="space"></span> {{ node.created.value|date('d / F / Y') }}</p>
		            </div>
		            <hr class="space s" />
		             {{ content|without('field_image','field_blog_comments','field_blog_category','field_blog_tags') }}
		            <hr />
		            
		            {{social_network_post|raw}}
		            
		         </div>
		      </div>
		   </div>
		</div>
		<hr class="f">
		<div class="section-empty">
		   <div class="container content">
		      <div class="row">
		         {{ content.field_blog_comments }}
		      </div>
		   </div>
		</div>	

	{% endif %}
  
{% endif %}